# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & secrets
.env
secrets/
secret.key
*.enc

# OS
.DS_Store
Thumbs.db

# Qoder generated wiki
.qoder/repowiki/*
!.qoder/repowiki/README.md

